{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'pi_visitors/css/styles.css' %}" />
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home' %}">На Главную</a>
    <h1>Зафиксированные Посетители</h1>
    {% for visitor in visitors %}
	<p>{{ visitor.detection_time }}</p>
    	<img src="{{ visitor.image.url }}" alt="" class="cameraImage">
    {% endfor %}    
</body>
</html>
