{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Зафиксированные Посетители</h1>
    {% for visitor in visitors %}
        <div class="visitor-card">
            <img src="{{ visitor.image.url }}" alt="" class="cameraImage--visitor cameraImage">
            <div class="visit-date mt-small">
                <p class="visit-date__memo">
                    Дата посещения:
                </p>
                <p class="visit-date__date">
                    {{ visitor.detection_time|date:'d F Y H:i' }}
                </p>
            </div>
            
        </div>
    {% endfor %}   
{% endblock %} 
